<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 单机版 -->
	<!-- <bean id="httpSolrClient" class="org.apache.solr.client.solrj.impl.HttpSolrClient">
		<constructor-arg index="0"
			value="http://192.168.169.160:8080/solr/Core01" />
		<property name="connectionTimeout" value="3000" />
	</bean> -->

	<!-- 集群版 -->
	<bean id="httpSolrClient" class="cn.sst.e3mall.search.util.E3MallCloudSolrClient">
	<constructor-arg index="0" value="e3mall"></constructor-arg>
	<constructor-arg index="1" value="192.168.169.162:2181"></constructor-arg>
	<constructor-arg index="2" value="192.168.169.162:2182"></constructor-arg>
	<constructor-arg index="3" value="192.168.169.162:2183"></constructor-arg>
	</bean>
</beans>
